body{
    background-color: grey;
}

.row{
    min-height: 90vh;
}

#bmi_result{
    font-size: 1.7rem;
}

.col-4{
    background-color: white;
    border-radius: 25px;
    padding: 1.4rem 2.2rem;
}